<template>
  <div>
      
    <div class="flip">
        <div class="digit back">
            <div class="top">{{getBackTopValue}}</div>
            <div class="bottom"><div class="buttom-content">{{getBackBottomValue}}</div></div>
        </div>
        <div  class="digit next">
            <div :class="['top', { 'flipTop' : isFlipTopPlaying }]">{{getAnimTopValue}}</div>
            <div :class="['bottom', { 'flipBottom' : isFlipButtomPlaying }]"><div class="buttom-content">{{getAnimBottomValue}}</div></div>
        </div>
    </div>  
  </div>
</template>

<script>
export default {
    props: {
        initialValue: Number,
        next: Number
    },
    data: function () {
        return {
            animTop: null,
            animBottom: null,
            isFlipTopPlaying: false,
            isFlipButtomPlaying: false,

            animTopValue: undefined,
            animButtomValue: undefined,
            backTopValue: undefined,
            backBottomValue: undefined
        }
    },
    computed: {
        getAnimTopValue: function () {
            return this.animTopValue !== undefined ?  this.animTopValue : this.initialValue
        },
        getAnimBottomValue: function () {
            return this.animButtomValue !== undefined ? this.animButtomValue : this.initialValue
        },
        getBackTopValue: function () {
            return this.backTopValue !== undefined ? this.backTopValue : this.initialValue
        },
        getBackBottomValue: function () {
            return this.backBottomValue !== undefined ? this.backBottomValue : this.initialValue
        }
    },
    mounted() {
        this.animTop = this.$el.querySelector(".digit.next .top")
        this.animBottom = this.$el.querySelector(".digit.next .bottom")
        this.animTop.addEventListener("animationend", () => {

            this.animTopValue = this.next
            this.isFlipTopPlaying = false
        })
        this.animBottom.addEventListener("animationend", () => {

            this.backBottomValue = this.next
            this.isFlipButtomPlaying = false
        })
    },
    watch: {
        next: function (nextValue, oldVal) {
            if(nextValue > 9 || nextValue < 0){
                console.error(`Value can not be > 9 and < 0 (${nextValue})`)
            }
            else{
                this.backTopValue = nextValue
                this.animButtomValue = nextValue

                this.isFlipTopPlaying = true
                this.isFlipButtomPlaying = true
            }
        }
    }
}
</script>

<style scoped>
  .flip {
      position: relative;
      margin: 0px;
      width: 60px;
      height: 90px;
      font-weight: bold;
      border-radius: 6px;
      perspective: 200px;
  }

  .digit {
      position: absolute;
      width: 100%;
  }

  .top, .bottom {
      position: relative;
      left: 0;
      width: 100%;
      height: 45px;
      border-radius: 6px;
      font-size: 80px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      background: rgb(2,0,36);
  }

  .buttom-content {
        position: relative;
        top: -45px;
  }

  .top {
        background: linear-gradient(0deg, rgb(5, 5, 5) 0%, rgb(100, 100, 100) 100%);
        transform-origin: 50% 100%;
  }

  .bottom {
        background: linear-gradient(180deg, rgb(5, 5, 5) 0%, rgb(100, 100, 100) 100%);
        transform-origin: 50% 0;
  }

  .digit.next .bottom {
        transform: rotate3d(1, 0, 0, 90deg);
  }

  .flipTop{
        animation: flipTop 0.5s ease;
  }
  @keyframes flipTop{
      0%{
          transform: rotate3d(1, 0, 0, 0deg);
          transform-origin: bottom center;
      }
      100%{
          transform: rotate3d(1, 0, 0, -90deg);
          transform-origin: bottom center;
      }
  }

  .flipBottom{
      animation: flipBottom .5s ease-in;
      animation-delay: .4s;
  }
  @keyframes flipBottom{
      0%{
          transform: rotate3d(1, 0, 0, 90deg);
          transform-origin: top center;
      }
      100%{
          
          transform: rotate3d(1, 0, 0, 0deg);
          transform-origin: top center;
      }
  }

  .animation-play {
      animation-play-state: running;
  }

  .animation-stop {
      animation-play-state: paused;
  }

</style>
