<template>
  <div id="app">
    <div class="counter">
      <Counter :initialValue="0" :next="tens" />
      <Counter :initialValue="0" :next="units" />
    </div>
    <br/>
    <button @click="onBtnClick" class="start-button">START</button>
  </div>
</template>

<script>
import Counter from './components/Counter.vue'

export default {
  name: 'app',
  components: {
    Counter
  },
  data: function () {
    return {
      count: 0,
      tens: 0,
      units: 0,
    }
  },
  methods: {
    onBtnClick: function (enlargeAmount) {
      setInterval(() => {
        this.count ++
        this.tens = Math.floor(this.count / 10)
        this.units = this.count % 10

        if(this.count >= 99)
          this.count = -1
      }, 1000)
    }
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.counter {
  width: 125px;
  justify-content: space-between;
  display: flex;
}

.start-button {
  width: 125px;
  height: 30px;
}
</style>
